git init
git add .
git commit -m "Hoan thanh Mini-project 2 dung giao dien mau"
git branch -M main
git remote add origin https://github.com/tai-khoan-cua-ban/ten-repo-moi-tinh.git
git push -u origin main